.git
.env
.env.*
!.env.example
node_modules
vendor
tests
bootstrap/cache/*.php
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
!storage/framework/cache/.gitignore
!storage/framework/sessions/.gitignore
!storage/framework/views/.gitignore
!storage/logs/.gitignore
docker-compose.yml
.dockerignore
.editorconfig
.gitattributes
readme.md
*.md
